.custom-shape::after {
        content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--primary);
    z-index: 20;
    width: 106%;
    height: 27%;
    border-radius: 10px 10px 0px 0px;

}
